@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif; 
     background-color: black;
     color: white;
     
}
main{
    margin-top: 6rem;
}

body::-webkit-scrollbar {
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}